mixin input(opt)
    -let dropdown = opt.dropdown || null;
    -let expandable = opt.expandable || null;
    if dropdown 
       .field.field_dropdown&attributes(attributes)
            label.field__label(for=opt.id)= opt.label
            input.field__input(class=opt.class, value=opt.value, type=opt.type, id=opt.id, placeholder=opt.placeholder, class=opt.direction, autocomplete="off" readonly)
    else if expandable                                                                                  
       .field.field_expandable&attributes(attributes)
            label.field__label(for=opt.id)= opt.label
            input.field__input(class=opt.class, value=opt.value, type=opt.type, id=opt.id, placeholder=opt.placeholder, autocomplete="off")
    else if opt.type === 'checkbox' && opt.labelDescription
        .field.field_checkbox&attributes(attributes)
            input.field__input(class=opt.class, value=opt.value, type=opt.type, id=opt.id, placeholder=opt.placeholder, checked=opt.checked)
            label.field__label(for=opt.id)
                span.field__title= opt.label
                span.field__description= opt.labelDescription      
    else if opt.type === 'checkbox'
      .field.field_checkbox&attributes(attributes)
            input.field__input(class=opt.class, value=opt.value, type=opt.type, id=opt.id, placeholder=opt.placeholder, checked=opt.checked)
            label.field__label(for=opt.id)= opt.label
    else 
       .field&attributes(attributes)                                            
            label.field__label(for=opt.id)= opt.label
            input.field__input(class=opt.class, value=opt.value, type=opt.type, id=opt.id, placeholder=opt.placeholder, autocomplete="off")