mixin input(opt)
    -let dropdown = opt.dropdown || null;
    if dropdown 
       .field.field_dropdown
            label.field__label(for=opt.id)= opt.label
            input.field__input(value=opt.value, id=opt.id, placeholder=opt.placeholder,autocomplete="off" readonly)&attributes(attributes)
    else
       .field                                                 
            label.field__label(for=opt.id)= opt.label
            input.field__input(value=opt.value, id=opt.id, placeholder=opt.placeholder, autocomplete="off" readonly )&attributes(attributes)
                                                                                        
    
    
